<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Стили</title>
        <link rel="stylesheet" href="../style/materials.css">
    </head>
    <body>
        <h1>Module #2: Simple HTTP Server</h1>
        <ul>
            <li>Materials
                <ul>
                    <li>Go by Example: HTTP Servers</li>
                    <li>http package</li>
                    <li>Writing Web Applications</li>
                    <li>Hello world HTTP server example</li>
                    <li>How I write Go HTTP services after seven years</li>
                    <li>Gorilla web toolkit</li>
                </ul>
            </li>
            <li>Hometask
                <ul>
                    <li>Create a "working" webserver which will respond with 200 HTTP status code</li>
                    <li>route / or any other</li>
                </ul>
            </li>
        </ul>
    </body>
</html>